<div class="container">
    <div class="card mx-auto">
        <div class="row">
            <!-- Login Field -->
            <div class="col-sm-6 col1">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="loginForm">
                    <div class="title">
                        <h1>Sign in</h1>
                    </div>
                    <div class="inputCont">
                        <!-- Username -->
                        <label for="userName" class="form-label">Username*</label>
                        <input type="text" class="form-control border-bottom" id="userName" formControlName="username" required>
                        <!-- Validation -->
                        <div class="validation" *ngIf="username?.invalid && username?.dirty && username?.errors?.['required']" >
                            Username is required.
                        </div>
                    </div>

                    <div class="inputCont">
                        <!-- Password -->
                        <label for="passWord" class="form-label">Password*</label>
                        <input type="password" class="form-control border-bottom" id="passWord" formControlName="password" required>
                        <!-- Validation -->
                        <div class="validation" *ngIf="password?.invalid && password?.dirty">
                            <div *ngIf="password?.errors?.['required']">Password is required.</div>
                            <div *ngIf="password?.errors?.['minlength']">Password must be 8 characters and above.</div>
                            <div *ngIf="password?.errors?.['hasUppercase']">It must contain an uppercase letter.</div>
                            <div *ngIf="password?.errors?.['hasLowercase']">It must contain a lowercase letter.</div>
                            <div *ngIf="password?.errors?.['hasNumber']">It must contain a number.</div>
                        </div>
                    </div>
                    <!-- Login button -->
                    <button type="submit" class="btn btn-success loginbtn">Login</button>
                    <div class="mt-4 text-center">
                        <button type="button" class="btn btn-link" (click)="forgotPassword()">Forgot Password</button>
                        <button type="button" class="btn btn-link" (click)="signUp()">Sign Up</button>
                    </div>
                </form>
            </div>
            
            <!-- Image -->
            <div class="col-sm-6">
                <div class="col2">
                    <img src='assets/images/img.svg'/>
                    <h1>Sign in to TechHunt</h1>
                    <h5>Your go to shop.</h5>
                </div>
            </div>
        </div>
    </div>
</div>