// .loginContainer {
//     width: 100%;
//     padding: 20px;
//     text-align: center;
//     max-height: 900px;
// }

// .card {
//     max-width: 900px;
// }

// .col1 {
//     margin: 30px;
//     padding: 0px;
// } 



// .card form {
//     max-width: 400px;
// }



// // form validation
// .validation {
//     color: red;
//     text-align: left;
//     justify-content: left;
//     align-items: left;
//     margin: 5px 0px 5px 0px;
// }





// .inputCont {
//     max-width: 320px;
// }







// .col2 div{
//     margin-top: 40px;
//     object-fit: contain;
// }




.container {
    max-width: 100%;
    padding: 30px 20px 55px 20px;
    // background-color: rgb(193, 236, 206);
}

.card {
    max-width: 850px;
}



// Column 1
.col1 {
    padding: 40px;
}

.title {
    text-align: left;
    margin-bottom: 55px;
}

.title h1{
    font-weight: 600;
    color: rgb(7, 147, 65);
}

.title h1:hover{
    color: rgb(33, 223, 112);
}

.inputCont {
    margin-bottom: 30px;
}

.card form input {
    max-width: 500px;
    height: 40px;
    border-radius: 0px;
    border: none;
}

.card form input:focus {
    box-shadow: inset 0px -10px 10px -10px rgba(198, 253, 211, 0.75);
} 

.form-label {
    color: gray;
}

.form-label:hover {
    color: rgb(35, 33, 33);
}

.loginbtn {
    width: 100%;
    margin: 30px 0px 0px 0px;
    border-radius: 20px;
    justify-self: left;
}

.btn-link {
    text-decoration: none;
    color: rgb(48, 117, 48);
}

.btn-link:hover {
    color: rgb(13, 190, 13);
    font-weight: 500;
}

// Column 2
.col2 {
    height: 96%;
    margin: 10px;
    padding-top: 20px;
    background-color: rgb(4, 146, 73);
    border-radius: 5px;
}

.col2 img {
    margin: 40px;
    max-width: 280px;
    height: auto;
}

.col2 h1 {
    color: aliceblue;
    margin: 60px 60px 0px 40px ;
    text-align: left;
}

.col2:hover {
    opacity: 0.9;
}

.col2 h5 {
    color: aliceblue;
    margin: 0px 60px 95px 40px;
    text-align: left;
}
